.sideNav{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.13);
    width: 200px;
    /* width: 21%; */
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* overflow-y: auto; */
}
/* .sideNav {
    width: 250px;
    height: 100vh;
    background-color: #1e1e2f;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    overflow-y: auto;
  } */
  

.sideNavLogo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
}

.sideNavLinks1{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* background-color: rgb(0, 255, 76); */
}
.sideNavLinks2{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* background-color: rgb(255, 0, 179); */
}
.links{
    /* background-color: #2b14dd3d; */
    width: 94%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    text-decoration: none;
}
.links p{
    color: rgb(152, 152, 152);
    text-decoration: none;
    margin: 0;
}
.links i{
    font-weight: 300;
    font-size: 24px;
    color: rgb(152, 152, 152);
    margin: 0;
}

.links:hover{
    background-color: #2b14dd3d;
    color: #2C14DD;
    /* border-radius: 10px; */
    transition: 1s;
}
.links:hover p, .links:hover i{
    color: #2C14DD;
}

.FFlogo{
    width: 70px;
    height:60%;
    border-radius: 10%;
}


.custom-confirm-btn {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.custom-confirm-btn:hover {
  background-color: #218838;
}

.custom-cancel-btn {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 16px;
  margin-right: 10px;
  transition: background-color 0.2s ease;
}

.custom-cancel-btn:hover {
  background-color: #c82333;
}

.custom-popup {
  border-radius: 12px;
}
